<div class="w-full px-3 py-6" >
  <div class="bg-white shadow-lg rounded-lg overflow-hidden" >
    <a href="{{ product.url }}" >
      {% if product.featured_image %}
        <div class="max-h-80 overflow-hidden" >
          <img
            width="inherit"
            class="w-full h-full object-cover transition duration-1000 ease-in-out hover:scale-105 transform "
            height="inherit"
            src="{{ product.featured_image | image_url }}"
            alt="{{ product.featured_image.alt}}"
          >
        </div>
      {% else %}
        <div class="h-80 overflow-hidden" >
          {{ "product-1" | placeholder_svg_tag: "w-full h-full object-cover bg-gray-100"  }}
        </div>
      {% endif %}
    </a>
    <div class="flex flex-col p-4 items-center gap-1 text-lg">
      <span class="text-sm text-gray-400 "> {{ product.vendor }} </span>
      <a
        class="text-gray-700 font-medium "
        href="{{ product.url }}"
      >
        {{ product.title | downcase | capitalize }}
      </a>
        <p class="flex items-center gap-2 text-gray-700 font-semibold">
        <span class="text-sm text-gray-400 line-through"> {{ product.compare_at_price_max | money }} </span>
        {{ product.price | money }}
        </p>
    </div>
  </div>
</div>
