<!doctype html>
<html class="h-full">
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }}
    <!-- Header hook for plugins -->
    {{ 'application.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    <style>
      {{ settings.global_font | font_face }}
      * { font-family: {{ settings.global_font.family }}; }
    </style>
  </head>
  <body class="h-screen flex justify-between flex-col">
    {% section 'header' %}
    <main class="main h-screen flex flex-col justify-evenly gap-14" role="main">
      {{ content_for_layout }}
      {% section 'footer' %}
    </main>
  </body>
</html>
