{% assign  banner_img = section.settings.banner_img %}
{% assign  banner_title = section.settings.banner_title %}
{% assign  button_title = section.settings.button_title %}
{% assign  button_url = section.settings.button_url %}

<div class="flex w-full relative h-full">
  {% if banner_img == blank %}
    {{ "hero-apparel-1" | placeholder_svg_tag: "w-full lg:h-80 h-screen object-cover bg-gray-100 xl:h-[720px]" }}
  {% else %}
    <img
      src="{{ banner_img | image_url }}"
      width="auto"
      height="auto"
      class="object-cover min-h-[40rem] w-full xl:h-[720px]"
    >
  {% endif %}
  <div
    class="absolute bg-[#0000005e] flex h-full w-full lg:h-full items-center"
  >
    <div
      class="w-full"
    >
      <div class="responsive__container h-full flex flex-col lg:items-start items-center lg:justify-center justify-center lg:pl-24 gap-6">
        <p
          class="text-white lg:text-5xl text-4xl p-2 lg:text-start text-center w-full font-bold"
        >
          {{ banner_title }}
        </p>
        <a
          href="{{ button_url }}"
          class="hover:cursor-pointer hover:bg-gray-200 border text-sm px-6 py-2 uppercase bg-white font-bold"
        >
          {{ button_title }}
        </a>
      </div>
    </div>

  </div>
</div>
{% schema %}
  {
    "name": "Banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "banner_img",
        "label": "Banner img",
      }, {
        "type": "text",
        "id": "banner_title",
        "label": "Banner title",
        "default": "Your New Pair Awaits..."
      }, {
        "type": "text",
        "id": "button_title",
        "label": "Button title",
        "default": "Shop All Styles"
      }, {
        "type":"url",
        "id": "button_url",
        "label": "Button url"
      }
    ]
  }
{% endschema %}


