<div class="flex flex-col items-start my-8 mt-28 w-full justify-center responsive__container" >
  <h1 class="text-3xl font-medium text-gray-700 pl-12">
    {{ section.settings.title }}
  </h1>
  <div class="mx-auto my-1 px-3">
    <div class="max-w-6xl grid grid-cols-1 md:grid-cols-3 gap-4" >
      {% for collection in collections %}
        {% if collection.all_products_count > 0 %}
          <div class="w-full py-6">
            <div class="bg-white overflow-hidden " >
              <a href="{{ collection.url }}">
                <div class="max-h-80 overflow-hidden">
                  {% if collection.featured_image != blank %}
                    {% assign collection_img = collection.featured_image %}
                  {% else %}
                    {% assign collection_img = collection.products.first.featured_image %}}
                  {% endif %}
                  <img
                    width="auto"
                    height="auto"
                    class="w-full object-cover transition duration-1000 ease-in-out transform hover:scale-105"
                    src="{{ collection_img | image_url }}"
                    alt="{{ collection.title}}"
                  >
                </div>
                <div class="p-4" >
                  <h1 class="text-2xl flex items-center w-full justify-around gap-4 text-gray-600" >
                    <span>{{ collection.title }}</span>
                    <span> {% render 'icon-right-arrow'%} </span>
                  </h1>
                </div>
              </a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Template List Collections",
    "settings": [
      {
        "default": "New Collection",
        "id": "title",
        "label": "Title",
        "type": "text",
      }
    ]
  }
{% endschema %}

