{% assign handler = collection.handle %}
{% # INFO:
   # This gets the image from the metaobects. It is important that the handle of
   # the metaobject is named just like the handle of the collection.
%}
{% assign banner_image = shop.metaobjects.media[handler].banner %}

<div class="px-4 mt-[24%] lg:mt-[10%] md:mt-[14%] responsive__container" >
  <a
    class="text-base text-gray-500 hover:underline text-center my-4 block"
    href="{{ routes.collections_url }}"
  >
    Go back to collections
  </a>
  <div class="relative md:h-[340px] h-[280px] flex justify-center">
    <div class="h-auto flex flex-col justify-center items-start md:w-8/12 w-full md:p-12 p-6 text-white">
      <h1 class="md:text-5xl text-3xl text-center" > {{ collection.title }} </h1>
      <p class="md:text-xl text-md"> {{ collection.description }} </p>
    </div>
    {% if banner_image != blank %}
      <img
        width="auto"
        height="auto"
        class="md:w-8/12 w-full h-full absolute -z-10 object-cover"
        src="{{ banner_image | image_url }}"
      />
    {% else %}
      {{ "hero-apparel-1" | placeholder_svg_tag: "md:w-8/12 w-full h-full absolute -z-10 object-cover"  }}
    {% endif %}
  </div>
  {% paginate collection.products by section.settings.pagiate_size %}
  <div class="max-w-6xl mx-auto" >
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-2" >
      {% for product in collection.products %}
        {% render "product-cart", product: product %}
      {% else %}
        <p>{{ "featured_collection.template.no_product_in_collection" | t }}</p>
      {% endfor %}
    </div>
  </div>
  {% render "pagination", pagination: paginate%}
  {% endpaginate %}
</div>

{% schema %}
  {
    "name": "Template Collection",
    "settings": [
      {
        "default": 8,
        "id": "pagiate_size",
        "label": "Paginate size",
        "type": "number",
      }
    ]
  }
{% endschema %}

