{% assign  title = section.settings.section_title %}

<div class="flex flex-col w-full justify-center items-center p-4 lg:py-16 gap-12">
  <p class="text-center text-3xl text-gray-700 flex w-full justify-center">{{ title }}</p>
  <div class="flex lg:w-9/12 w-full gap-2 justify-center items-center">
    <div class="relative">
      {% for block in section.blocks %}
        {% if block.type == "left_product" %}
          {% if block.settings.left_img == blank %}
            {{ "product-2" | placeholder_svg_tag: "object-cover w-full h-full" }}
          {% else %}
            <img
              width="auto"
              height="auto"
              src="{{ block.settings.left_img | image_url }}"
              class="object-cover w-full lg:max-h-[660px] min-h-[200px]"
            >
            <div class="absolute m-2 bottom-0 left-0 bg-[#0000005e] lg:text-lg text-sm text-white px-6 py-2">
              <a
                href="{{ block.settings.left_url }}"
                class="flex items-center gap-2 h-full"
              >
                {{ block.settings.desc_text }}
                {% render 'icon-right-arrow' %}
              </a>
            </div>
          {% endif %}
        {% endif%}
      {% endfor%}
    </div>
    <div class="relative">
      {% for block in section.blocks %}
        {% if block.type == "right_product" %}
          {% if block.settings.right_img == blank %}
            {{ "product-2" | placeholder_svg_tag: "object-cover w-full h-full" }}
          {% else %}
            <img
              width="auto"
              height="auto"
              src="{{ block.settings.right_img | image_url }}"
              class="object-cover w-full lg:max-h-[660px] min-h-[200px]"
            >
            <div
              class="absolute m-2 bottom-0 left-0 bg-[#0000005e] lg:text-lg text-sm text-white px-6 py-2">
              <a
                href="{{ block.settings.right_img }}"
                class="flex items-center gap-2 h-full"
              >
                {{ block.settings.desc_text }}
                {% render "icon-right-arrow" %}
              </a>
            </div>
          {% endif %}
        {% endif%}
      {% endfor%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "products",
    "presets": [
      {
        "name": "Main products"
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title",
        "default": "Principales productos"
      }
    ],
    "blocks": [
      {
        "name": "Left product",
        "type": "left_product",
        "settings": [
          {
            "type": "text",
            "id": "desc_text",
            "label": "Description"
          },
          {
            "type": "image_picker",
            "id": "left_img",
            "label": "Left image"
          },
          {
            "type": "url",
            "id": "left_url",
            "label": "Product URL"
          }
        ]
      },{
        "name": "Right product",
        "type": "right_product",
        "settings": [
          {
            "type": "text",
            "id": "desc_text",
            "label": "Description"
          },
          {
            "type": "image_picker",
            "id": "right_img",
            "label": "right image"
          },
          {
            "type": "url",
            "id": "right_url",
            "label": "Product URL"
          }
        ]
      }
    ]
  }
{% endschema %}
