{% assign handle = page.handle %}
{% assign banner_image = shop.metaobjects.media[handle].banner %}

<div class="md:mt-[12%] flex flex-col gap-4 w-full responsive__container">
  <div class="relative md:h-[340px] h-[280px] flex justify-center bg-[#0000005e]">
    <div class="h-auto flex flex-col justify-center items-center w-full md:p-12 p-6 text-white gap-2">
      <h1 class="md:text-5xl text-3xl text-center" > {{ page.title }} </h1>
      <p class="text-xl">{{ section.settings.description }}</p>
    </div>
    {% if banner_image != blank %}
      <img
        width="auto"
        height="auto"
        class=" w-full h-full absolute -z-10 object-cover"
        src="{{ banner_image | image_url }}"
      />
    {% else %}
      {{ "hero-apparel-1" | placeholder_svg_tag: "md:w-8/12 w-full h-full absolute -z-10 object-cover"  }}
    {% endif %}
  </div>
  <div
    class="max-w-6xl mx-auto px-4 text-gray-700 text-justify mt-6 text-base/7"
  >
    {{ page.content }}
  </div>
</div>

{% schema %}
  {
    "name": "About",
    "settings": [
      {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "This is the about us page"
      }
    ]
  }
{% endschema %}
