<article class="p-4" itemscope itemtype="http://schema.org/BlogPosting">
  {% for block in section.blocks %}
    {% case block.type %}
    {% when "article_title" %}
      <div class="flex flex-col items-center">
        <a href="{{ blog.url }}" class="text-lg w-full flex justify-center text-gray-400 font-black hover:text-gray-500" >
          {{ blog.title }}
        </a>
        <h1 class="flex text-2xl p-4 font-bold" itemprop="headline">
          {{ section.settings.title-article }}
        </h1>
      </div>
    {% when "article_author" %}
      {% if section.settings.enable_author %}
        <caption itemscope itemtype="http://schema.org/Person" >
          By: <span class="font-bold p-1 underline" itemprop="author" > {{ article.author }} </span>
        </caption >
      {% endif %}
    {% when "article_date" %}
      {% if section.settings.enable_publish_date %}
        <small itemprop="datePublished dateCreated" class="flex py-2" datetime="{{ article.published_at | date: '%B %d, %Y'}}">
          {{ article.published_at | date: format: "on_date" }}
        </small>
      {% endif %}
    {% when "featured_image" %}
      {% if article.image != blank %}
        <div itemprop="image" class="flex justify-center w-full p-4">
          <img
            src="{{ article.image | image_url }}"
            alt="{{ article.alt }}"
            width="inherit"
            height="500"
            class="rounded-lg w-full h-80 md:h-96 object-cover object-center"
          />
        </div>
      {% else %}
        {% assign placeholder_image = "lifestyle-2" %}
        {{ placeholder_image | placeholder_svg_tag: "w-full h-80 md:h-96 object-cover object-center p-5" }}
      {% endif %}
    {% when "article_content" %}
      <div itemprop="articleBody" class="flex justify-center items-center">
        <div class="max-w-2xl">
          {{ article.content }}
        </div>
      </div>
    {% else %}
    {% endcase %}
  {% endfor %}
</article>

{% if blog.comments_enabled? %}
  <div id="comments" class="flex justify-center p-4">
    {% if article.comments_count > 0 %}
      <div class="w-full flex flex-col" >
        <h1 class="flex font-bold text-xl py-4 px-2" > See what people are saying </h1>
        {%paginate article.comments by 5 %}
        <div class="flex w-full justify-center" >
          <div class="flex flex-col w-10/12">
            {% for comment  in article.comments %}
              <div class="flex flex-col w-full p-4 border rounded-lg mb-2" >
                <div class="flex justify-between">
                  <span class="mr-1 font-medium" >{{ comment.author }}</span>
                  <span class="text-gray-500 text-sm" >{{ comment.created_at | date: format: "on_date" }}</span>
                </div>
                <p class="mt-2" >{{ comment.content }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="max-w-6xl mx-auto">
          {% render "pagination", pagination: paginate %}
        </div>
        {% endpaginate %}
      </div>
    {% else %}
      There is no comments in this article.
    {% endif %}
  </div>
  <div id="comments_form" class="flex p-4 w-full justify-center">
    {% form "new_comment", article %}
    <div class="flex-1">
      {% if form.errors %}
        <div class="flex flex-col gap-2 border p-4 rounded-lg">
          <div class="flex gap-2 items-center">
            <div class="text-sm text-red-500" >
              {% render 'icon-failed' %}
            </div>
              <small>
                Oh no! Your comment was not posted
              </small>
          </div>
          <ul class="w-full list-decimal text-gray-800">
            {% for error in form.errors %}
              <li class="ml-4">
                <small>{{ form.errors.messages[error] }}</small>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% elsif form.posted_successfully? %}
        <div class="flex border rounded-lg p-4">
            <div class="flex gap-2 items-center" >
              <div class="text-green-500 text-sm">
                {% render "icon-success" %}
              </div>
              <small>
                Comment is posted successfully
              </small>
            </div>
          </div>
      {% endif %}
      <div class="w-full flex p-4 gap-4">
        <div class="flex-1 flex-col gap-2 items-center">
          <label for="comment_author" class="text-gray-800" >Name</label>
          <input
            type="text"
            name="comment[author]"
            id="comment_author"
            class="w-full text-gray-700 p-4 rounded-lg border focus:outline-none"
            placeholder="Jane Doe"
            required
          />
        </div>
        <div class="flex-1 flex-col gap-2 items-center">
          <label for="comment_email" class="text-gray-800" >Email</label>
          <input
            type="email"
            name="comment[email]"
            id="comment_email"
            class="w-full text-gray-700 p-4 rounded-lg border focus:outline-none"
            placeholder="Janedoe@com"
            required
          />
        </div>
      </div>
      <div class="px-1">
        <div class="w-full px-4">
          <label for="comment_content" >Comment</label>
          <textarea
            name="comment[body]"
            id="comment_content"
            class="border rounded-lg resize-none w-full text-gray-700 h-32 p-4 focus:outline-none"
            required
            placeholder="Here goes your comment"
            ></textarea>
        </div>
      </div>
      <div class="w-full py-2">
        <div class="w-full px-4">
          <input
            type="submit"
            value="Post comment"
            class="text-white w-full bg-gray-900 rounded-sm p-2 hover:bg-gray-700 hover:cursor-pointer"
          />
        </div>
      </div>
    </div>
    {% endform %}
  </div>
{% endif %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "headline": {{ article.title | json }},
    "articleBody": {{ article.content | strip_html | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article.image | img_url: "medium" | prepend: "https:" | json }},
      ],
  {% endif %}
    "datePublished": {{ article.published_at | date: format: "default " | json }},
    "dateCreated": {{ article.created_at | date: format: "default " | json}},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ shop.name | json }}

    }
  }
</script>

{% schema %}
  {
    "name": "Template Article",
    "settings": [
      {
        "id": "title-article",
        "type": "text",
        "label": "Article Title",
        "default": "{{ article.title }}"
      },{
        "id": "enable_author",
        "type": "checkbox",
        "label": "Enable Author",
        "default": true
      },{
        "id": "enable_publish_date",
        "type": "checkbox",
        "label": "Enable Publish Date",
        "default": true
      }
      ],
      "blocks": [
       {
          "type": "article_title",
          "name": "Tile",
          "limit": 1
        },
        {
          "type": "article_author",
          "name": "Author",
          "limit": 1
        },
        {
          "type": "article_date",
          "name": "Date",
          "limit": 1
        },
        {
          "type": "featured_image",
          "name": "Thumbnail",
          "limit": 1
        },
        {
          "type": "article_content",
          "name": "Content",
          "limit": 1
        }
      ]
  }
{% endschema %}
